<div class="col-11 col-md-10 mx-auto my-4 py-4">
    <h2>Editar Quiz</h2>
    <p>Edite as perguntas e respostas do seu quiz e em seguida salve-o.</p>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="card col-11 col-sm-10 col-md-8 col-lg-7 col-xl-6 mx-auto p-4 order-1 rounded-4 bg-light mb-4">
            <h5>Quiz</h5>
            <span class="text-black-50">Informações do quiz</span>
            <hr>
            <form #quizFormData="ngForm" id="editQuizForm" (ngSubmit)="handleEditQuiz(quizFormData.value, quizId,quizFormData)" [class.was-validated]="validatedCard" novalidate>

                <div class="mb-3">
                    <label class="form-label">
                        <h6>Título do quiz</h6>
                    </label>
                    <input type="text" name="titulo" class="form-control rounded-pill" placeholder="Adicione um titulo" [(ngModel)]="modeloQuiz.titulo"
                    required>
                </div>

                <div class="mb-3">
                    <label class="form-label">
                        <h6>Descrição do quiz</h6>
                    </label>
                    <textarea name="descricao" class="form-control rounded-4" rows="3" [(ngModel)]="modeloQuiz.descricao"
                    required></textarea>
                </div>

                <h6>Categoria do quiz</h6>
                <select name="categoria" class="form-select rounded-pill mb-3" aria-label="Selecione uma categoria"
                    [(ngModel)]="modeloQuiz.categoria" required>
                    <option value="">Selecione uma opção</option>
                    <option [value]="cat" de *ngFor="let cat of getCategoriasKeys()">{{cat}}</option>
                </select>
            </form>

            <!-- modal -->
            <div class="d-flex justify-content-center pt-4">
                <app-modal #modalRef [headerModal]="headerModal" [btnModal]="btnModal" (emmiter)="handleCadastroPerguntas(formData);activateSaveButtonIncrement()"
                    [primaryBtnText]="'Salvar'" [formId]="'formCadastroPerguntas'"[clearForm]="clearFormQuestion">

                    <ng-template #headerModal>
                        <h5>Adicionar pergunta</h5>
                    </ng-template>

                    <form #formData="ngForm" [id]="'formCadastroPerguntas'" [class.was-validated]="validatedQuestion"
                        novalidate>
                        <span id="msgErroPerguntas"></span>

                        <div class="mb-3">
                            <label class="fw-medium">Insira o enunciado da pergunta</label>
                            <textarea class="form-control" name="enunciado" rows="4" required
                                [(ngModel)]="modelo.enunciado" autofocus></textarea>
                        </div>

                        <h5>Alternativa correta</h5>
                        <div class="d-flex align-items-center gap-2 mb-3 text-success fs-5">
                            <label>1.</label>
                            <input type="text" class="form-control border-2 border-success rounded-pill"
                                name="respCorreta" placeholder="Informe a alternativa correta"
                                [(ngModel)]="modelo.respCorreta" required>
                        </div>

                        <hr class="my-4">

                        <h5>Alternativa incorreta</h5>
                        <div class="d-flex align-items-center gap-2 mb-3 text-danger fs-5">
                            <label>2.</label>
                            <input type="text" class="form-control border-2 border-danger rounded-pill"
                                name="alternativa1" placeholder="Informe uma alternativa incorreta"
                                [(ngModel)]="modelo.alternativa1" required>
                        </div>

                        <div *ngFor="let alt of altsIncorretas; let index = index">
                            <div class="d-flex align-items-center gap-2 mb-3 text-danger fs-5">
                                <label>{{index + 3}}.</label>
                                <input type="text" class="form-control border-2 border-danger rounded-pill"
                                    name="alternativa{{index+2}}" placeholder="Informe uma alternativa incorreta"
                                    [(ngModel)]="modelo['alternativa' + (index + 2)]" required>
                                <i class="fa fa-trash trash-icon" (click)="removeAltIncorreta(index)"></i>
                            </div>
                        </div>

                        <div *ngIf="altsIncorretas.length > 2" class="text-danger">
                            Limite máximo de alternativas atingido
                        </div>

                        <div class="row">
                            <button type="button" (click)="handleAddIconrretas()"
                                [disabled]="altsIncorretas.length >= 3"
                                class="btn btn-primary rounded-pill fw-medium mt-4 mx-auto col-6">
                                <i class="fa fa-plus"></i> Alternativa incorreta
                            </button>
                        </div>
                    </form>

                    <ng-template #btnModal>
                        <button class='btn btn-primary rounded-pill fw-medium mt-4 mx-auto'>
                            <i class='fa fa-plus'></i> Adicionar Pergunta
                        </button>
                    </ng-template>
                </app-modal>
            </div>
        </div>

        <div class="card col-11 col-sm-10 col-md-8 col-lg-4 col-xl- mx-auto p-4 order-2 rounded-4 bg-light">
            <h5>Perguntas</h5>
            <span class="text-black-50">Lista de perguntas</span>
            <hr>

            <div class="mx-auto col-12 card-container">

                <div *ngFor="let pergunta of perguntas; let index = index" class="card border border-2 rounded-4 p-2 my-2 col-11 mx-auto">
                    <app-card-pergunta [pergunta]="pergunta" [index]="index" (event)="handleDelete(pergunta.id, index, pergunta);activateSaveButtonDecrement()"></app-card-pergunta>
                </div>
                
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center flex-column align-items-center">
        <button type="submit" class="btn btn-primary rounded-pill px-4 my-2 mx-auto fs-5 fw-medium"
            form="editQuizForm" [disabled]="activateSaveButton<1">Salvar Quiz</button>
        <small class="mx-auto mb-4 fs-6 text-danger" *ngIf="activateSaveButton<1" >Você precisa adicionar ao menos um pergunta para salvar o quiz.</small>
    </div>
</div>