.background {
  height: 100vh;
  clip-path: ellipse(75% 100% at 23% 30%);
  animation: moveClip 5s infinite alternate;
}

@keyframes moveClip {
  0% {
    clip-path: ellipse(75% 100% at 23% 30%);
  }
  100% {
    clip-path: ellipse(75% 100% at 23% 35%);
  }
}

@media (max-width: 767.98px) {
  .background {
    height: 40vh;
    clip-path: ellipse(100% 75% at 50% 20%);
    animation: moveClipMobile 5s infinite alternate;
  }
}

@keyframes moveClipMobile {
  0% {
    clip-path: ellipse(100% 75% at 50% 20%);
  }
  100% {
    clip-path: ellipse(100% 75% at 50% 25%);
  }
}
