
<div class="d-flex flex-wrap vh-100 align-items-stretch w-100">
 <!-- Lado azul com clip-path animado -->
<app-logo-side-layer class="col-12 col-md-5"></app-logo-side-layer>

  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h5 class="modal-title">E-mail enviado</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body fs-5">
      Caso o e-mail esteja cadastrado, você receberá uma nova senha com instruções para acesso.
    </div>
  </ng-template>

  <div class="form-esqueceu-senha col-12 col-md-7 d-flex align-items-center justify-content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit(modalContent)" novalidate autocomplete="off" style="width: 23rem;" class="p-4 bg-light border border-light rounded-4">
      <h4 class="text-center mb-3" routerLink="/esqueceu-senha" >Esqueceu a senha?</h4>
      <p style="color: gray;">
        Não se preocupe, informe o seu email abaixo para começar o processo de recuperação do acesso à conta.
      </p>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Digite o seu email"
          required
          [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched && validated"
          [class.is-valid]="form.get('email')?.valid && form.get('email')?.touched && validated"
        />
        <div class="invalid-feedback">
          Por favor, digite um email válido.
        </div>
      </div>

      <div class="d-flex justify-content-between mt-4 pt-4">
        <button class="btn btn-outline-secondary" type="button" (click)="goToLogin()">
          Voltar
        </button>

        <button class="btn btn-primary" type="submit" >Enviar</button>
      </div>
    </form>
  </div>
</div>
