<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Adicionar Quiz</h4>
		<button type="button" class="btn-close" (click)="d()"></button>
	</div>
	<div class="modal-body">
		<ng-content></ng-content>
	</div>

	<div class="modal-footer" *ngIf="!!secondaryBtnText || !!primaryBtnText">
		<button type="button" class="btn btn-outline-secondary rounded-pill" (click)="d()" *ngIf="!!secondaryBtnText">{{secondaryBtnText}}</button>
		<button type="submit" class="btn btn-primary rounded-pill" ngbAutofocus (click)="onClick()" *ngIf="!!primaryBtnText" form="formId">{{primaryBtnText}}</button>
	</div>
</ng-template>

<div (click)="open(content)">
	<ng-container *ngTemplateOutlet="btnModal"></ng-container>
</div>