<div class="card col-12 rounded-4">
  <div class="card-header rounded-top-4 position-relative text-truncate fw-medium" style="font-size: 1rem;">
    {{ quiz.titulo }}
  </div>
  <div class="card-body d-flex flex-wrap justify-content-between row-gap-4">
    <div class="col-3"><i class="{{categoriaI}}"></i></div>
    <p class="ps-2 col-9 text-truncate">
      {{ quiz.descricao }}
    </p>
    <span>
      <span class="border fs-7 rounded-pill px-2">{{ quiz.categoria }}</span>
    </span>
    <a routerLink="/quiz/{{quiz.id}}" class="btn btn-primary rounded-pill py-1">Responder</a>
  </div>
  <div class="card-footer" *ngIf="role === 'admin'">
    <div class="d-flex align-items-evenly justify-content-evenly">
      <!-- Edit button -->
      <a routerLink="/quiz/{{quiz.id}}/editar" class="text-primary me-3">
        <i class='fa fa-edit'></i> Editar
      </a>

      <!-- Delete button -->
      <div class="text-danger">
        <app-modal [btnModal]="btnModal" (emmiter)="handleDelete(quiz.id)" [primaryBtnText]="'Excluir'" [secondaryBtnText]="'Cancelar'" [formId]="'DeletarQuiz'">
          <form id="DeletarQuiz">
            Tem certeza que deseja excluir o quiz? Essa ação é irreverssível.  
          </form>
        </app-modal>
        
        <ng-template #btnModal>
          <span class="del-icon" ><i class='fa fa-trash '></i> Excluir</span>
        </ng-template>
      </div>
    </div>
  </div>
</div>