.text-truncate {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: fit-content;
}

a{
    text-decoration: none;
}

.del-icon{
    cursor: pointer;
}